<div class="container">
	<% unless current_user %>
		<div class="row">
			<div class="col-md-4 col-md-offset-8">
				<%= render "devise/shared/login_form" %>
				<%= render "devise/shared/links" %>
			</div>
		</div>
	<% end %>
</div>