<h3 class="text-center">Conversations
	<%= link_to "New conversation", new_conversation_path, class: "btn btn-default pull-right" %>
</h3>
<div id="conversations">
	<table>
		<tbody>
			<%= render @conversations %>
		</tbody>
	</table>
</div>