<% if @users.present? %>
	$('#user-list').html("<p><%= pluralize(@users.count, 'user') %> found.</p><%= escape_javascript render @users %>")
<% else %>
	$('#user-list').html("<p>User is not found.</p>")
<% end %>