<% if @users.present? %>
	$('#user-list').html("<p><%= pluralize(@users.count, 'user') %> finded.</p><%= escape_javascript render @users %>")
<% else %>
	$('#user-list').html("<p>There are no users with name: <%= params[:search] %>.</p>")
<% end %>