// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.users_list {
	a {
		min-height: 122px;
	}
	img {
		float: left;
		margin-right: 10px; 
	}
	h4 {
		margin-top: 10px;
	}
}