.user_search {
	.stylish-input-group .input-group-addon {
	  background: white !important; 
	}

	.stylish-input-group .form-control {
		border-right:0; 
		box-shadow:0 0 0; 
		border-color:#ccc;
	}

	.stylish-input-group button {
	  border:0;
	  background:transparent;
	  width: 100%;
	}

	#search-form {
		margin-bottom: 20px;
	}

	#additional-menu {
		cursor: pointer;
		margin-top: 20px;
		font-weight: bold;
	}

	.additional-options {
		display: none;
	}

	.pagination {
		display: none;
	}
}