// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.users_list {
	div.list-group-item {
		min-height: 122px;
	}
	img {
		float: left;
		margin-right: 10px; 
	}
	h4 {
		margin-top: 10px;
	}
	a {
		color: #000;
	}
}
	input#online.form-control:active,
	input#online.form-control:focus,
	input#online.form-control {
    box-shadow: none;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
	}

.user-page {
	.online {
		color: green;
	}
	.last_seen_at {
		color: grey;
	}
}